<%- contentFor('heros')%>
<%- def%>
<link rel="stylesheet" href="/css/Sesion.css" />
<link rel="stylesheet" href="/css/Tabla.css" />  
<%- contentFor('body') %>
<section> 
    <div class="box">
        
           <div class="Row-General center  ">
                       <div class="registro">
                             <form action="/usernew"  method="POST">

                                <div class="Col-General center ">
                                    <p class="p">Registro</p>
                                    <div class="boxing2">
                                        <div class="Row-General">
                                            <div class="boxing">
                                                <label >Codigo / Numero de boleto </label>
                                            </div>
                                            <div class="boxing">
                                               
                                            </div>
                                                <div class="boxing">
                                            </div>
                                        </div>
                                        <div class="Row-General">
                                            <div class="boxing">
                                                <input type="text" name="idboleto" id="idboletotxt" autofocus="" required>
                                            </div> 
                                            <div class="boxing">
                                             
                                            </div>
                                            <div class="boxing">
                                             
                                            </div>
                                        </div>
                                        <div class="Row-General">
                                        <table class="default ce">
                                          <tr>
                                            <th>Ruta</th>
                                            <th>Precio</th>
                                            
                                          </tr> 
                                          <% Captura.forEach(function(catalogo) { %>
                                        
                                          <tr>
                                          
                                            <td><%= Captura.NombreRuta %></td>
                                        
                                            <td><%= Captura.precio %></td>
                                        
                                          
                                        
                                          </tr>
                                        
                                          <% }); %>
                                          </table>
                                    </div>
                                      </div>
                                </div>
                             </form>
              

                       </div>
           </div>
    </div>
  
 </section>
 <script >
    $(document).ready(function(){
      $("#form1").submit(function() {
        val=$('#ContrasTXT1').val();
             val2=$('#ContrasTXT2').val();
             if(val==val2)
            {
                if (val3=='value1')
                {
                   alert('Elige un rol');
                   return false;  
               
                 }
                
                  return true;	
          } else {alert("Contraseña no es igual");	
               return false;  
          }
       
                
        });
    });
    </script>