
<%- contentFor('heros')%>
<script src="/js/jquery-3.2.1.js"></script>
<link rel="stylesheet" href="/css/Sesion.css" />
<link rel="stylesheet" href="/css/Tabla.css" /> 
<style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);

section {
padding: 60px 0;
background-color: rgba(215, 218, 219, 0.7);
margin: 0 auto;
width: 600px;
}
.body-text {
padding: 0 20px 30px 20px;
font-family: "Roboto";
font-size: 1em;
color: #333;
text-align: center;
line-height: 1.2em;
}
.form-container {
flex-direction: column;
justify-content: center;
align-items: center;
}
.card-wrapper {
background-color: #6FB7E9;
width: 100%;
display: flex;

}
.personal-information {
background-color: #3C8DC5;
color: #fff;
padding: 1px 0;
text-align: center;
}
h1 {
font-size: 1.3em;
font-family: "Roboto"
}
input {
margin: 1px 0;
padding-left: 3%;
font-size: 14px;
}
input[type="text"]{
display: block;
margin: 1px;
height: 50px;
width: 97%;
border: none;
}
input[type="email"]{
display: block;
height: 50px;
width: 97%;
border: none;
margin: 1px;
}
select{
display: block;
height: 50px;
width: 99%;
border: none;
margin: 2px;
}
input[type="submit"]{
display: block;
height: 60px;
width: 100%;
border: none;
background-color: #3C8DC5;
color: #fff;
margin: 1px;
curson: pointer;
font-size: 0.9em;
text-transform: uppercase;
font-weight: bold;
cursor: pointer;
}
input[type="submit"]:hover{
background-color: #6FB7E9;
transition: 0.3s ease;
}
#column-left {
width: 49.5%;
float: left;
margin-bottom: 2px;
}
#column-right {
width: 49.5%;
float: right;
}
#input-field {
    width: 99.5%;
  }
  #input-fields {
    width: 99.5%;
  }


</style>
 <%- def%>
<%- contentFor('body') %>
<section>
<div >
<%- forma%>
    <div class="form-container">
        <h1>Seleccion de boletos</h1>
<select name="" id="Precios">

    <% boletos.forEach(function(boletos) { %>
        <option> <%= boletos.IdCatRutas %> <%= boletos.NombreRuta %> <%= boletos.precio %></option>
          
      
        <% }); %>

</select>

<input id="input-fields" name="input-fields" type="text" name="Total" placeholder="Total" disabled/>
<input id="escondido" name="escondido" type="hidden" name="Total" placeholder="Total"  />

      <div class="personal-information">
        <h1>Payment Information</h1>
      </div> 
           
          <input id="column-left" type="text" name="first-name" placeholder="First Name"/>
          <input id="column-right" type="text" name="last-name" placeholder="Surname"/>
          <input id="input-field" type="text" name="number" placeholder="Card Number"/>
          <input id="column-left" type="text" name="expiry" placeholder="MM / YY"/>
          <input id="column-right" type="text" name="cvc" placeholder="CCV"/>
         
          <div class="card-wrapper"></div>
      
          <input id="input-field" type="text" name="streetaddress" required="required" autocomplete="on" maxlength="45" placeholder="Streed Address"/>
          <input id="column-left" type="text" name="city" required="required" autocomplete="on" maxlength="20" placeholder="City"/>
          <input id="column-right" type="text" name="zipcode" required="required" autocomplete="on" pattern="[0-9]*" maxlength="5" placeholder="ZIP code"/>
          <input id="input-field" type="email" name="email" required="required" autocomplete="on" maxlength="40" placeholder="Email"/>
          <input id="input-button" type="submit" value="Comprar"/>
        
    </form>
  </div>
</section>
<script>
    $('form').card({
    container: '.card-wrapper',
    width: 280,

    formSelectors: {
        nameInput: 'input[name="first-name"], input[name="last-name"]'
    }
});
</script>
<script>
    $('#Precios').change(function() {

        valor=  $('#Precios').val();
        restante =valor.split(" ");
ba=restante.length-1;
$('#escondido').val(restante[0]);

$('#input-fields').val(restante[ba]);
   /* alert('Campo correcto ' + restante[0] + restante[ ba]);*/

});
</script>
 