<%- contentFor('heros')%>
<%- def%>
<link rel="stylesheet" href="/css/Thank.css" />
<%- contentFor('body') %>
<section>
    <div class="Col-General">

    <div class="Row-General center">
<h1>Gracias <%- no%>  por usar nuestro servicio</h1>
</div>

<div class="Row-General center">
    <h1>Recuerde que su usuario es: <%- usu%></h1>
</div>


</div>
</section>